---
import HeroBackground from "./HeroBackground.astro";
import HeroContent from "./HeroContent.astro";
import HeroScrollIndicator from "./HeroScrollIndicator.astro";
---

<section
	id="hero"
	class="relative flex min-h-screen items-center justify-center overflow-hidden"
>
	<HeroBackground />
	<HeroContent />
	<HeroScrollIndicator />
</section>
