---
import { Image } from "astro:assets";
import heroBackground from "@/assets/svenja+dennis.jpg";
---

<Image
	src={heroBackground}
	alt=""
	class="absolute inset-0 h-full w-full object-cover"
	loading="eager"
	decoding="async"
/>

<div
	class="absolute inset-0 bg-linear-to-b from-black/50 via-black/40 to-black/60"
>
</div>
