<a
    href="#"
    class="font-heading text-xl font-semibold tracking-wide text-primary-light group-[.scrolled]/header:text-primary whitespace-nowrap transition-colors"
>
    Svenja &amp; Dennis
</a>
