<button
    id="menu-toggle"
    class="xl:hidden flex flex-col justify-center gap-1.5 p-2"
    aria-label="Menü öffnen"
    aria-expanded="false"
>
    <span
        class="block h-0.5 w-6 bg-text transition-all duration-300 origin-center"
    ></span>
    <span class="block h-0.5 w-6 bg-text transition-all duration-300"></span>
    <span
        class="block h-0.5 w-6 bg-text transition-all duration-300 origin-center"
    ></span>
</button>
