---
const { href, label } = Astro.props;
---

<li>
    <a
        href={href}
        class="text-xs font-medium uppercase tracking-widest text-white/85 hover:text-white transition-colors"
        >{label}</a
    >
</li>
