---
const { href, label } = Astro.props;
---

<li>
    <a
        href={href}
        class="text-xs font-medium uppercase tracking-widest text-white/85 hover:text-white group-[.scrolled]/header:text-black/75 group-[.scrolled]/header:hover:text-black transition-colors"
        >{label}</a
    >
</li>
